@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    /* height: 100%; */
    background-color: black;
    color: #F6F6F6;
    box-sizing: border-box;

}

.content {
    padding:5% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-family: "Krona One", serif;
    font-size: 36px;
}

.subtitle {
    font-family: "Krona One", serif;
    font-size: 24px;
    font-weight: 400;
}

.strong {
    color: #22D4FD;
}

.content__content {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.texto-destaque {
    color: white  ;
    font-size: 24px;
    font-family: "Montserrat", serif;
    font-weight: 400;
}

.botoes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 32px
}

.botoesCss {
    display: flex;
    justify-content: center;
    gap: 16px;
    font-size: 24px;
    padding: 21.5px 0px;
    width: 378px;
    text-align: center;
    text-decoration: none;
    font-family: "Montserrat", serif;
    font-weight: 600;
    color: #F6F6F6;
    border: 2px solid #22D4FD;
    border-radius: 8px;
}

.botoesCss:hover {
    background-color: #272727;
    cursor: pointer;
}

.footer {
    color: #000000;
    background-color: #22D4FD;
    padding: 24px;
    font-family: 'Montserrat', serif;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}

.header {
    padding: 2% 0% 0% 10%;
}

.header__nav {
    display: flex;
    gap: 80px;
}

.nav__link {
    font-family: 'Montserrat', serif;
    font-weight: 600;
    font-size: 24px;
    color: #22D4FD;
}

/* .nav__link:hover {
    cursor: pointer;
    color: white;
} */